<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zysblog.zysblog.mapper.ExceptionLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zysblog.zysblog.entity.ExceptionLog">
        <id column="id" property="id" />
        <result column="exception_message" property="exceptionMessage" />
        <result column="stack_trace" property="stackTrace" />
        <result column="exp_requ_param" property="expRequParam" />
        <result column="oper_user_id" property="operUserId" />
        <result column="oper_uri" property="operUri" />
        <result column="oper_create_time" property="operCreateTime" />
    </resultMap>

</mapper>
